.inf__block {
  @apply w-[250px] h-[400px] text-white flex justify-center items-center rounded hover:scale-105 transition delay-100;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/vosm.png");
  background-repeat: no-repeat;
  background-size: cover;
}
